body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
}

aside{
    flex: 0.05;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #222;
    text-align: center;
    margin: 0;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

main {
    margin: 20px;
}

section {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Добавлен радиус скругления углов для эффекта */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #fff;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
